.faq-thema-container {
	padding: 30px;
	width: 100%;
	max-width: 700px;
}

.faq-thema-headline {
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: 300;
}

.faq-frage, .faq-antwort {
	font-size: 18px;
	font-weight: 300;
}

.faq-antwort {
	margin-top: 10px;
	margin-left: 30px;
}

.faq-eintrag {
	margin-left: 30px;
	padding: 15px;
}

.faq-eintrag:hover {
	cursor: pointer;
}

.faq-antwort-highlight {
	padding-right: 10px; 
	font-weight: bold;
}