/*
 * Globals
 */

.h-center {
	margin-left: auto;
	margin-right: auto;
}

.h-left {
	float: left;
}

.h-right {
	float: right;
}

.v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}


h1, h2, h3, h4, h5, h6, a, p, ol, li, section, article {
  font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/*
 * Header
 */

header {
	position: relative;
	width: 100%;
	z-index: 9999;
}

.header-inner {
	width: 700px;
	padding: 30px;
	position: relative;
}

.header-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-nav > li {
  display: inline-block;
}
.header-nav > li + li {
  margin-left: 20px;
}
.header-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.header-nav > li > a:hover,
.header-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.header-nav > .active > a,
.header-nav > .active > a:hover,
.header-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .header-brand {
    float: left;
  }
  .header-nav {
    float: right;
  }
}

footer {
	padding: 50px 0;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.fullsize {
	position: fixed;
	width: 100%;
	height: 100%;
}

.basic-container {
	position: relative;
	margin: 0 auto;
}

.content-width {
	width: 100%;
	padding: 30px;
}

@media only screen and (min-width: 992px) {
	.content-width {
		width: 1280px;
	}
}

.box {
	position: relative;
	width: 100%;
  border: 1px solid white;

	/* h-center */
	margin: 0 auto;
	/* v-center */
	display: flex;
  justify-content: center;
  align-items: center;
}

.box-big {
  height: 300px;

  font-size: 50px;
  font-weight: 200;
}

.box-small {
  height: 80px;

  font-size: 32px;
	font-weight: 300;
}

.v-gap {
	margin-bottom: 50px;
}

.color-transition {
  transition: background-color 0.5s ease;
}

.background-default {
	background-color: #0a0a0a;
}

.background-transparent {
	background: rgba( 0, 0, 0, 0 );
}

.background-transparent-hover:hover {
  background: rgba( 255, 255, 255, 0.1 );
}

.background-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.background-image-heart {
  background-image: url("../img/background_heart.png");
}

.background-image-lightbulb {
  background-image: url("../img/background_lightbulb.png");
}

.background-image-runner {
  background-image: url("../img/background_runner.png");
}

.list-item-no-enum {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}