.intro-text {
	font-size: 48px;
	font-weight: 200;
}

article {
	padding-top: 50px;
}

.article-text {
	font-size: 20px;
	font-weight: 300;
}

.article-headline {
  font-size: 50px;
	font-weight: 200;
}

section {
	padding: 30px 0;
}

section > .content-width > .basic-container {
	max-width: 600px;
}

.section-text {
  font-size: 32px;
	font-weight: 300;
}

.section-text.v-gap {
	margin-bottom: 50px;
}

.checkbox, .choicebox {
	margin: 0 20px 20px 0;
}

table {
	width: 100%;
	margin-top: 60px;
}

tbody tr {
	transition: background-color 0.25s ease;
}

tbody tr:hover {
	background: #232323;
	cursor: pointer;
}

th, td {
	border-collapse: collapse;
	padding: 15px;
}

td {
	border-top: 2px solid #232323;
}

th {
	border: 2px solid #0a0a0a;
	color: black;
	background: tomato;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

th:hover {
	cursor: pointer;
}

.video-container {
	padding: 30px;
}

.notes li {
	margin-bottom: 10px;
}

.notes.v-gap {
	margin-bottom: 30px;
}

.position-container {
	padding: 50px;
}

.position-image {
	width: 500px;
	height: 500px;
	
	margin: 15px 0 10px 0;
}

.position-headline {
	font-size: 32px;
	font-weight: 300;
}

.position-description {
	font-size: 12px;
}