article {
	padding-top: 50px;
}

.article-headline {
  font-size: 50px;
	font-weight: 200;
}

section {
	text-align: left;

	/* v-center */
	display: flex;
  justify-content: center;
  align-items: center;
}

.krankheitsbild-section-container {
	max-width: 700px;
	padding: 30px 0;
}

.krankheitsbild-section-headline {
  font-size: 32px;
	font-weight: 300;
	margin-bottom: 20px;
}

.krankheitsbild-section-text {
	font-size: 18px;
	font-weight: 300;
	text-align: justify;
}

#olDiagnosen {
	padding-top: 50px;
}